/* 카카오 로그인 버튼 */

.kakao-img-btn{
  width:100%;
  height:55px;               /* 로그인버튼 py-3 와 거의 동일한 체감 높이 */
  object-fit:cover;           
  border-radius:12px;         /* 모서리 동일 */
  margin-top:15px;            /* 위 버튼과 간격 */
  cursor:pointer;
}

.kakao-img-btn:active{
  transform:scale(0.98);
}
